
button {
    vertical-align: top;
    font-size: 14px;
    width: 134px;
}

table {
    margin: 200px (50% - 100) 0 0;
}

textarea {
    color: #444;
    font-size: .9em;
    font-weight: 300;
    height: 20.0em;
    padding: 5px;
    width: calc(100% - 10px);
}

div#getUserMedia {
    padding: 0 0 8px;
}

div.input {
    display: inline-block;
    margin: 0 4px 0 0;
    vertical-align: top;
    width: 310px;
}

div.input > div {
    margin: 0 0 20px;
    vertical-align: top;
}

div.output {
    background-color: #eee;
    display: inline-block;
    font-family: 'Inconsolata', 'Courier New', monospace;
    font-size: .9em;
    padding: 10px 10px 10px 25px;
    position: relative;
    top: 10px;
    white-space: pre;
    width: 270px;
}

div#preview {
    border-bottom: 1px solid #eee;
    margin: 0 0 1em;
    padding: 0 0 .5em;
}

div#preview > div {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 12px);
}

section#statistics div {
    display: inline-block;
    font-family: 'Inconsolata', 'Courier New', monospace;
    vertical-align: top;
    width: 308px;
}

section#statistics div#senderStats {
    margin: 0 20px 0 0;
}

section#constraints > div {
    margin: 0 0 20px;
}

h2 {
    margin: 0 0 .5em;
}

section#constraints label {
    display: inline-block;
    width: 156px;
}

section {
    margin: 0 0 20px;
    padding: 0 0 15px;
}

video {
    background: #222;
    margin: 0;
    --width: 100%;
    width: var(--width);
    height: 225px;
}
@media screen and (max-width: 720px) {
    button {
        font-weight: 500;
        /* line-height: 1.3em; */
        width: 90px;
    }

    div#getUserMedia {
        padding: 0 0 40px;
    }

    section#statistics div {
        width: calc(50% - 14px);
    }

}
